



.nav-content{
    display: flex;
    padding-right: 600px;
}





.g{
    
    color: deeppink;
}
.nav-title{
    color:#0B0223 ;
    padding-left: 10px;
    
}

nav{
    display: flex;
    justify-content: center;
    align-content: center;
}
nav img{
    width: 30px;
    height: 20px;
    padding-top: 22px ;
    padding-left: 0px;
}

nav>ul{
    display:flex ;
    justify-content: center;
}
nav li{
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    margin-right: 50px;
    color:#3C354F ;
}
.btn-nav{
    border-radius: 8px;
    color: #3C354F;
    border: none;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    border: 2px solid blueviolet;
    background-image: url(../images/Group\ 14.png);
    
    
}
.banner-title{
    font: work sans;
    font-size: 95px;
    font-weight: 800;
    justify-content: center;
    color: rgb(211, 0, 193);

}



.banner-content{
   justify-content: center;
   align-items: center;
   
}
.banner-about{
    font-size: 40px;
    font-weight: 600;
    /* justify-content: center;
    align-items: center;
   padding-bottom: 0px;
   margin-bottom: 0px; */
}

.banner-image{
   
}

.btn-pink{
    border-radius: 17px;
    padding: 10px 20px;
    color: aliceblue;
    background-color: deeppink;
}

.btn-blue{
    border-radius: 17px;
    padding: 10px 20px;
    color: aliceblue;
    background-color: dodgerblue;
}


/* section funny style */


.funny-container{
    /* justify-content: center; */
    align-items: center;

}
.funny-title{
    font-size: 40px;
    font-weight: 900;
}
.funny-videos{
    color: rgb(211, 0, 193);
}
.funny-image{
    display: flex;
    /* margin: 10px; */
    /* justify-content: space-between; */
}